@font-face {
  font-family: Inter;
  src: url("Inter-VariableFont_slnt\,wght.ttf");
}

#theraplink-container,
#theraplink-container > *,
#theraplink-container > *::before,
#theraplink-container > *::after {
  box-sizing: border-box;
  font-family: Inter;
}

#theraplink-container {
  position: fixed;
  background: transparent;
  z-index: 2147483643;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  transform: translate(0px, 0px);
  pointer-events: none;
}

.optionGrp {
  display: flex;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 0px 5px 2.5px rgba(0, 0, 0, 0.15);
  flex-direction: column;
  padding: 10px;
}

.optionGrp::before {
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid pink;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-50%);
}

.QLEE[style*="transform: rotateY(180deg)"] > .optionGrp {
  transform: rotateY(180deg);
}

.QLEE[style*="transform: rotateY(180deg)"] > .optionGrp::before {
  left: 100%;
}

.submit {
  border: none;
  background: transparent;
  width: 20px;
  height: 20px;
  background: dark;
  border-radius: 100%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputBox {
  border: none;
  outline: none;
  width: 100%;
}

.hide {
  visibility: collapse;
}
