*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  --width: 250px;
  --height: 275px;
  min-width: var(--width);
  max-width: var(--width);
  min-height: var(--height);
  max-height: var(--height);
  padding: 10px;
}

#QleeWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

#Qlee {
  z-index: 2;
  width: 128px;
  height: 128px;
  transform: scaleX(1);
  pointer-events: auto;
  cursor: context-menu;
  user-select: none;
  filter: hue-rotate(245deg);
  background: url(./images/spritesheet.png) -898px var(--pos);
}

#btn {
  width: 100px;
}
