*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  --width: 300px;
  --height: 350px;
  min-width: var(--width);
  max-width: var(--width);
  min-height: var(--height);
  max-height: var(--height);
}
